@import "../../vars.scss";

.logo {
  padding: 0.5rem;
  border-radius: 10px;
  font-size: 1.8em;
  font-weight: 800;
  cursor: pointer;
  background: -webkit-linear-gradient(45deg, $tmdbLighterGreen, $tmdbLightBlue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu {
  button {
    padding: 0 0.2rem;
    background-color: transparent;
    border: none;
    font-size: 2em;
    color: inherit;
    cursor: pointer;
    :hover {
      opacity: 0.7;
    }
  }
}
